import React from 'react';
import styles from './{{pascalCase name}}.module.css';

interface {{pascalCase name}}Props {}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = () => {
  return (
    <div className={styles.container}>
      <h1>{{pascalCase name}}</h1>
    </div>
  );
};

export default {{pascalCase name}};
